<!--&lt;!&ndash;<div class="products" *ngFor="let goods of products">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="text"><h2><a class="items" href="{{goods.productLink}}">{{ goods.name }}</a></h2>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{ goods.description }}</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <img class="products-image" src="{{ goods.imageLink }}" alt="{{ goods.name }}"><br>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="text"><p class="priceRating">Price: ${{ goods.price }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p class="priceRating">Rating: {{goods.rating}}</p></div>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;  <app-image-gallery></app-image-gallery>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;  <button type="button" class="buttons">BUY</button> &nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;  <button type="button" (click)="sharing(goods.id)" class="buttons">SHARE</button>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="categories" *ngFor="let category of categories">-->
<!--  <input type="checkbox" id="myCheckbox" [(ngModel)]="isChecked">-->
<!--  <label for="myCheckbox">{{ category }}</label>-->

<!--  <div *ngIf="!isChecked">-->
<!--    <div class="products" *ngFor="let goods of products">-->
<!--      <div class="text"><h2><a class="items" href="{{goods.productLink}}">{{ goods.name }}</a></h2>-->
<!--        <p>{{ goods.description }}</p></div>-->
<!--        <img class="products-image" src="{{ goods.imageLink }}" alt="{{ goods.name }}"><br>-->
<!--        <div class="text"><p class="priceRating">Price: ${{ goods.price }}</p>-->
<!--          <p class="priceRating">Rating: {{goods.rating}}</p></div>-->

<!--          &lt;!&ndash;  <app-image-gallery></app-image-gallery>&ndash;&gt;-->

<!--        <button type="button" class="buttons">BUY</button> &nbsp;-->
<!--        <button type="button" (click)="sharing(goods.id)" class="buttons">SHARE</button>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="categories" *ngFor="let category of categories; let i = index">-->
<!--  <input type="checkbox" id="checkbox{{ i }}" [(ngModel)]="categoryVisibility[i]">-->
<!--  <label for="checkbox{{ i }}">{{ category }}</label>-->

<!--  <div *ngIf="categoryVisibility[i]">-->
<!--    <div class="products" *ngFor="let goods of products_phones">-->
<!--     -->
<!--      <div class="text" *ngIf="goods.category == category" >-->
<!--        <h2><a class="items" href="{{ goods.productLink }}">{{ goods.name }}</a></h2>-->
<!--        <p>{{ goods.description }}</p>-->
<!--        <img class="products-image" src="{{ goods.imageLink }}" alt="{{ goods.name }}"><br>-->
<!--        <div class="text">-->
<!--          <p class="priceRating">Price: ${{ goods.price }}</p>-->
<!--          <p class="priceRating">Rating: {{ goods.rating }}</p>-->
<!--        </div>-->
<!--        <button type="button" class="buttons">BUY</button> &nbsp;-->
<!--        <button type="button" (click)="sharing(goods.id)" class="buttons">SHARE</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<input type="checkbox">-->
<!--<label>All</label>-->
<div class="categories" *ngFor="let category of categories; let i = index">
<div class="category">
  <h2><input type="checkbox" id="checkbox{{ i }}" [(ngModel)]="categoryVisibility[category]">
  <label for="checkbox{{ i }}" class="labels">{{ category }}</label></h2>
</div>


  <div *ngIf="categoryVisibility[category]">
    <div class="products" *ngFor="let goods of getProductsForCategory(category)">
      <!-- Display products belonging to the current category -->
      <div class="text">
        <h2><a class="items" href="{{ goods.productLink }}">{{ goods.name }}</a><span id="likes">{{goods.likes}}</span></h2>
        <p>{{ goods.description }}</p>
        <img class="products-image" src="{{ goods.imageLink }}" alt="{{ goods.name }}"><br>
        <div class="text">
          <p class="priceRating">Price: ${{ goods.price }}</p>
          <p class="priceRating">Rating: {{ goods.rating }}</p>
        </div>
        <button type="button" class="buttons">BUY</button> &nbsp;
        <button type="button" (click)="sharing(goods.id)" class="buttons">SHARE</button>
        <button type="button" (click)="removeProduct(goods.id)" class="extra-buttons-delete"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ1_OGLgETlppDTWUvGt4ZfqASuj330npchQ&usqp=CAU"></button>
        <button type="button" (click)="incrementLike(goods)" class="extra-buttons-likes"><img src="https://freepngimg.com/save/67620-heart-instagram-icons-button-computer-like/1024x1024"></button>
      </div>
    </div>
  </div>
</div>


