<div *ngFor="let good of products">
  <h2>{{good.name}}</h2>
  <p>{{good.description}}</p>
  <p>Price: ${{good.price}}</p>
  <img src="https://cdn0.ipoint.kz/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fill:540/bg:f6f6f6/q:100/plain/s3://catalog-products/230913074023854085/231108150034573782.png@webp" alt="{{good.name}}" width="20%" >
</div>
<!--<img src="https://cdn0.ipoint.kz/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fill:540/bg:f6f6f6/q:100/plain/s3://catalog-products/230913074023854085/231108150034573782.png@webp">-->
